body{ 
    font-family: "montserrat";
}

header{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(imagens/bg-hero.jpg);
    padding: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.header-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-topo a{
    color: white;
}

.botao-outline{
    border: 2px solid white;
    padding: 10px;
    border-radius: 30px;
      
}

.header-topo .botao-outline{
    margin-left: 10px;
}


.conteudo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 25%;
    padding-right: 25%;
        
}

.conteudo h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    
}

.conteudo h3 {
    font-weight: lighter;
    color: white;
    margin-top:  bottom: 40px;
    margin-bottom: 60px;
    padding: 50px;
    
        
}

.conteudo .saibamais{
    color: white;
    background-color: #ed5c57;
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: bold;
    display: inline-block
            
}


@media (max-width: 500px) {
    .conteudo {
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .header-topo {
        flex-direction: column;
        
    }

    .header-topo img {
        order: 2;
        
        
    }

    .header-topo a  {
        order: 1

    }
    
}
.link-cartao{
    height: 300px;
    display: flex;
    font-weight: bold;
    color: white;
    background: red;
    margin-bottom: 30px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 0px 0px 30px #000000;
    background-size: cover;
    background-position: center;   
    transition: text-shadow 0.2s;
    transition: all 0.2s;
    
}
.link-cartao:hover{
    color: white;
    text-shadow: 0px 0px 10px #000000;
    text-decoration: none;
    transition: text-shadow 0.2s;
    transform:scale(1.1);
    transition: all 0.2s;
    opacity: 0.5;
    
}
.link-cartao.sport{
    background-image: url(imagens/sports.jpg)
}
.link-cartao.wellness{
    background-image: url(imagens/wellness.png)
}
.link-cartao.extreme{
    background-image: url(imagens/extreme-sports.png)
}
.link-cartao.games{
    background-image: url(imagens/games.png)
}
.link-cartao.culture{
    background-image: url(imagens/culture.jpg)
}
.link-cartao.enjoyment{
    background-image: url(imagens/relax.jpg)
}
.link-cartao.travelling{
    background-image: url(imagens/travelling.jpg)
}






























