body{ 
    font-family: "montserrat";
}

header{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%), url(imagens/bg-hero.jpg);
    padding: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.header-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-topo a{
    color: white;
}

.botao-outline{
    border: 2px solid white;
    padding: 10px;
    border-radius: 30px;
      
}

.header-topo .botao-outline{
    margin-left: 10px;
}


.conteudo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 120px;
    padding-left: 25%;
    padding-right: 25%;
        
}

.conteudo h1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    
}

.conteudo h3 {
    font-weight: lighter;
    color: white;
    padding-bottom: 60px;
    padding-top: 40px;
    
        
}

.conteudo .saibamais{
    color: white;
    background: red;
    border-radius: 20px;
    padding: 12px;
    
    
    
    
        
}
